<%- include('../includes/head.ejs') %>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="se-pre-con">
		<div class="loader-area">
			<span class="loader"></span>
		</div>
	</div>
    
    <main class="portal portal-meeting">
        <a class="mainimg" href="./"><img src="images/zoom1.svg?version=<%= version%>" alt="Hasathcharu Meeting Portal" /></a>
        <h2 class="title-meet">Haritha's Meeting Portal</h2>
        <div class="meeting-animation">
            <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_rxjjypq7.json" background="transparent"  speed="1" loop autoplay></lottie-player>
        </div>
        <div class="meeting-content">
            <h2>Login</h2>
            <form action ="/auth/login" method = "POST">
                <div class="input-area">
                    <div class=input-box>
                        <span>Email</span>
                        <input type="email" placeholder="Enter your email"  name = "email"/>
                    </div>
                    <div class=input-box>
                        <span>Password</span>
                        <input type="password" placeholder="Enter your password"  name = "password"/>
                    </div>
                    <br/>
                    <input type="submit" name="submit" value="Log in"/><br/>
                    <% if(error){ %>
                        <span class="red-message">Invalid Credentials</span>
                    <% } %>
                </div>
            </form>
            <p>Need an Account? <a class="link" href="/sign-up">Sign Up</a></p>
        </div>
        <script>
            document.querySelector("form").addEventListener("submit",()=>{
                const d = new Date();
                d.setTime(d.getTime() + (10 * 24 * 60 * 60 * 1000));
                let expires = "expires="+d.toUTCString();
                document.cookie = 'theme' + "=" + '' + ";" + expires + ";path=/";
            });
        </script>
<%- include('../includes/end.ejs') %>