@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Nunito+Sans:wght@400;600&family=Nunito:wght@200&family=Noto+Sans+Sinhala&family=Noto+Sans+Tamil+Supplement&display=swap");
:root[data-theme=light] {
  --background: white;
  --theme: #22cc9d;
  --title-font-color: #221b5f;
  --secondary-font-color:#0d5f48;
  --secondary-btn: #00C0FF;
  --secondary-btn-hover: #0076B3;
  --button-hover:#19a17b;
  --main-font-color:#333333;
  --sinhalafont:"Noto Sans Sinhala";
  --tamilfont:"Noto Sans Tamil Supplement";
  --japanesefont:"Noto Sans JP";
  --grey-font:#666666;
  --contrast-font-color:var(--background);
  --special-font-color:var(--theme);
  --mainfont: "Nunito Sans";
  --titlefont: "Nunito";
  --input-box: #22cc9c73;
  --input-box-hover: #22cc9c2f;
  --mobile-header-background:#ffffff2c;
  --mobile-header-background-active:#333333bd;
  --media-portrait:700px;
  --button-font-color:white;
  --tile-background:#f1f1f1;
  --popup-color:white;
  --active: #6cc130;
  --warning: #ee4540;
  --danger: #FFC302;
  --banner-color:#22cc9c55;
  --translucent-red: #ed7367cc;
  --navlink-hover:#22cc9d99;
  --inactive: #999999;
  --svg-grey: brightness(0) saturate(100%) invert(39%) sepia(6%) saturate(14%) hue-rotate(322deg) brightness(95%) contrast(82%);
  --svg-black:brightness(0) saturate(100%);
  --svg-contrast:brightness(0%) saturate(100%);
  --svg-white:brightness(100%) saturate(0%);
  --svg-theme:brightness(0) saturate(100%) invert(56%) sepia(100%) saturate(366%) hue-rotate(113deg) brightness(99%) contrast(81%);
}

:root[data-theme=dark] {
  --background: black;
  --theme: #22cc9d;
  --title-font-color: #65bae2;
  --secondary-font-color:#22cc9d;
  --button-hover:#19a17b;
  --secondary-btn: #00C0FF;
  --secondary-btn-hover: #0076B3;
  --main-font-color:white;
  --popup-color:#222222;
  --sinhalafont:"Noto Sans Sinhala";
  --tamilfont:"Noto Sans Tamil Supplement";
  --japanesefont:"Noto Sans JP";
  --grey-font:#dddddd;
  --contrast-font-color:var(--background);
  --special-font-color:var(--theme);
  --mainfont: "Nunito Sans";
  --titlefont: "Nunito";
  --input-box: #22cc9c2f;
  --input-box-hover: #22cc9c54;
  --mobile-header-background:#ffffff2c;
  --mobile-header-background-active:#ffffffbd;
  --media-portrait:700px;
  --button-font-color:white;
  --tile-background:#333333;
  --navlink-hover:#22cc9d99;
  --active: #6cc130;
  --warning: #ee4540;
  --translucent-red: #ed736755;
  --danger: #FFC302;
  --banner-color:#22cc9c55;
  --inactive: #999999;
  --svg-grey: brightness(0) saturate(100%) invert(96%) sepia(1%) saturate(1842%) hue-rotate(199deg) brightness(108%) contrast(73%);
  --svg-black:brightness(100%) saturate(0);
  --svg-contrast:brightness(0) saturate(100%);
  --svg-white:brightness(0) saturate(100%);
  --svg-theme:brightness(0) saturate(100%) invert(56%) sepia(100%) saturate(366%) hue-rotate(113deg) brightness(99%) contrast(81%);
}

main {
  display: none;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
.loader-area {
  border: 0rem solid var(--theme);
  display: grid;
  box-sizing: content-box;
  justify-content: left;
  position: relative;
}
.loader-area svg {
  width: 40vmin;
  z-index: 10;
}
.loader-area img {
  width: 40vmin;
  filter: var(--svg-grey);
}
@keyframes grow {
  0% {
    border-width: 0rem;
  }
  100% {
    border-width: 0.5rem;
  }
}
@keyframes backnforth {
  0% {
    left: 0%;
    right: 100%;
  }
  100% {
    right: 0%;
    left: calc(100% - 1.9rem);
  }
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.se-pre-con {
  position: fixed;
  display: grid;
  padding: 0.8rem;
  align-content: center;
  justify-content: center;
  left: 0px;
  top: 0px;
  width: calc(100vw - 5px);
  height: 100vh;
  z-index: 999;
  background: var(--background);
}

.loader {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: var(--theme) var(--theme) transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent var(--theme) var(--theme);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

.loader-btn-container {
  display: grid;
  place-content: center;
}

.loader-btn {
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  display: inline-block;
  border: 2px solid var(--button-font-color);
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.form-div {
  max-width: 60ch;
  margin: auto;
}

input {
  font-size: 1rem;
  border: 0;
  outline: none;
  color: var(--main-font-color);
  background-color: var(--input-box);
  padding: 10px;
  border-radius: 0.5rem;
  font-family: inherit;
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  margin-bottom: 1rem;
  transition: background-color 0.2s;
}
input:focus {
  background-color: var(--input-box-hover);
}

.validation {
  color: var(--warning);
}

.validateError {
  background-color: var(--translucent-red);
}

button, .button,
input[type=button],
input[type=submit] {
  font-size: 1rem;
  cursor: pointer;
  color: var(--button-font-color);
  border: none;
  padding: 10px 20px;
  font-weight: 900;
  font-family: var(--main-font);
  background-color: var(--theme);
  -webkit-appearance: none;
  border-radius: 0.5rem;
}
button:hover, .button:hover,
input[type=button]:hover,
input[type=submit]:hover {
  background-color: var(--button-hover);
  color: var(--button-font-color);
}

.big-btn {
  min-width: 10rem;
}

.small-btn {
  padding: 5px;
}

.medium-btn {
  padding: 8px;
}

.secondary-btn {
  background-color: var(--secondary-btn);
}
.secondary-btn:hover {
  background-color: var(--secondary-btn-hover) !important;
}

.warning-btn {
  background-color: var(--translucent-red);
}
.warning-btn:hover {
  background-color: var(--warning);
}

.input-box {
  width: 100%;
  display: grid;
  margin: auto;
  max-width: 30ch;
}
.input-box span {
  margin-left: 0.2rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

.input-area {
  width: 100%;
  justify-items: center;
}

.animation-container {
  display: grid;
  place-content: center;
  text-align: center;
  height: 1.3rem;
}

.dot-typing {
  position: relative;
  left: -9992px;
  line-height: 1rem;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: var(--button-font-color);
  color: var(--button-font-color);
  box-shadow: 9984px 0 0 0 var(--button-font-color), 9993px 0 0 0 var(--button-font-color), 10002px 0 0 0 var(--button-font-color);
  animation: dotTyping 1.5s infinite linear;
}

@keyframes dotTyping {
  0% {
    box-shadow: 9984px 0 0 0 var(--button-font-color), 9993px 0 0 0 var(--button-font-color), 10002px 0 0 0 var(--button-font-color);
  }
  16.667% {
    box-shadow: 9984px -6px 0 0 var(--button-font-color), 9993px 0 0 0 var(--button-font-color), 10002px 0 0 0 var(--button-font-color);
  }
  33.333% {
    box-shadow: 9984px 0 0 0 var(--button-font-color), 9993px 0 0 0 var(--button-font-color), 10002px 0 0 0 var(--button-font-color);
  }
  50% {
    box-shadow: 9984px 0 0 0 var(--button-font-color), 9993px -6px 0 0 var(--button-font-color), 10002px 0 0 0 var(--button-font-color);
  }
  66.667% {
    box-shadow: 9984px 0 0 0 var(--button-font-color), 9993px 0 0 0 var(--button-font-color), 10002px 0 0 0 var(--button-font-color);
  }
  83.333% {
    box-shadow: 9984px 0 0 0 var(--button-font-color), 9993px 0 0 0 var(--button-font-color), 10002px -6px 0 0 var(--button-font-color);
  }
  100% {
    box-shadow: 9984px 0 0 0 var(--button-font-color), 9993px 0 0 0 var(--button-font-color), 10002px 0 0 0 var(--button-font-color);
  }
}
#banner {
  display: none;
}

div.banner {
  background-color: var(--banner-color);
  display: grid;
  text-align: center;
  padding: 0.5rem;
  place-items: center;
  grid-template-columns: 2rem auto 2rem;
}
div.banner .banner-close {
  cursor: pointer;
}

body.error-body {
  display: grid;
  place-content: center;
}

main.error {
  display: none;
  padding-top: 8rem;
  place-items: center;
  max-width: 1024px;
  min-height: 90vh;
  text-align: center;
}

main.error img {
  width: 50vh;
  filter: var(--svg-grey);
}
@media (max-width: 700px) {
  main.error img {
    width: 70vw;
  }
}

main.error footer {
  text-align: center;
  padding: 1rem 0;
}

.box-manage {
  min-width: 80vmin;
  padding: 1rem;
  padding-right: 3rem;
  padding-left: 3rem;
  border-radius: 2rem;
}
@media (max-width: 700px) {
  .box-manage {
    width: 100%;
  }
}

.link-boxes {
  border-radius: 10px;
  max-width: 80vw;
}

.link-box {
  display: grid;
  text-align: left;
  cursor: pointer;
  margin: 1rem 0;
  border-radius: 1rem;
  grid-template-columns: 6fr 1fr;
  background-color: var(--tile-background);
  padding: 1rem;
}
.link-box h3, .link-box p {
  margin: 0;
}
@media (max-width: 700px) {
  .link-box {
    padding: 0.5rem;
  }
  .link-box:hover {
    background: transparent;
  }
  .link-box h3 {
    font-size: 1rem;
  }
  .link-box p {
    font-size: 0.8rem;
  }
}
.link-box button {
  color: var(--button-font-color);
}

.link-details {
  background-color: var(--tile-background);
  display: none;
  word-wrap: break-word;
  padding: 1rem;
  margin: 1rem;
  border-radius: 15px;
  overflow-x: auto;
  text-align: left;
}
.link-details div {
  padding: 1rem;
}

.copy, .copyi, .save-btn {
  width: 3rem;
  padding: 0.5rem;
}

.input-box-m {
  display: grid;
  margin: 0;
}

.save-btn-container {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 700px) {
  .box-manage, .link-boxes, .link-details div {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}
header {
  display: grid;
  grid-template-columns: 2.5rem 1fr 2.5rem;
  justify-content: right;
  place-items: center;
  padding-bottom: 0;
  padding: 1rem;
  grid-gap: 1rem;
  z-index: 1000;
  position: sticky;
}
header img {
  height: 1.2rem;
  place-self: center;
  filter: var(--svg-grey);
}
@media (max-width: 700px) {
  header img {
    height: 0.8rem;
  }
}
header .profile {
  padding: 0.5rem;
  border-radius: 0.6rem;
  z-index: 10000;
  background-color: var(--theme);
  cursor: pointer;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}
header .theme-toggle {
  display: inline-block;
}
header .theme-toggle #darkMode {
  cursor: pointer;
  color: var(--grey-font);
  background-color: var(--background);
  height: 2rem;
  width: 2rem;
  text-align: center;
  line-height: 2rem;
}
header .theme-toggle #darkMode i {
  transition: transform 0.5s;
}
header .theme-toggle #darkMode.toggleDark i {
  transform: rotate(180deg);
}
@media (max-width: 700px) {
  header .theme-toggle #darkMode {
    background-color: transparent;
  }
}

.profile-modal {
  position: absolute;
  display: none;
  background-color: var(--popup-color);
  box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 1rem;
  z-index: 1000;
  top: 4rem;
  right: 2rem;
  min-width: 10rem;
  transition: top 0.5s;
}
.profile-modal hr {
  border: 1px solid var(--grey-font);
  border-radius: 1rem;
}
@media (max-width: 700px) {
  .profile-modal {
    left: 0;
    right: 0;
    width: 100%;
    box-shadow: 0px 17px 20px -5px rgba(0, 0, 0, 0.1);
    margin: auto;
    border-radius: 0 0 2rem 2rem;
  }
}
.profile-modal h3, .profile-modal h4, .profile-modal p {
  margin: 0;
}
.profile-modal .profile-options {
  margin-top: 1rem;
  width: 100%;
}
.profile-modal .profile-options .profile-option {
  padding: 0.4rem;
  width: 100%;
  display: grid;
}
.profile-modal .profile-options .profile-option a {
  padding: 0.4rem;
  border-radius: 0.5rem;
}
.profile-modal .profile-options .profile-option a:hover {
  background-color: var(--navlink-hover);
}

div.modal {
  background-color: #00000070;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  place-items: center;
  display: none;
}

div.modal-content {
  background-color: var(--popup-color);
  width: 40vw;
  padding: 2rem;
  border-radius: 1rem;
  place-items: center;
  display: none;
}
@media (max-width: 700px) {
  div.modal-content {
    width: 90vw;
  }
}

div.modal-animation {
  padding-bottom: 1rem;
}
div.modal-animation lottie-player {
  height: 10rem;
}

div.modal-text {
  text-align: center;
}

.card-modal {
  z-index: 10000;
  opacity: 0;
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
}
.card-modal .save-url-container, .card-modal .join-link-container {
  display: grid;
}
.card-modal .error {
  display: none;
}
.card-modal .card-modal-content {
  margin: 1rem;
  margin-top: 10rem;
  max-width: 60rem;
  padding: 2rem;
  border-radius: 2rem;
  background-color: var(--popup-color);
  box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.2);
}
.card-modal .modal-content-body {
  overflow: auto;
  max-height: 70vh;
}
@media (max-width: 700px) {
  .card-modal .card-modal-content {
    text-align: center;
    grid-column: span 2;
    padding: 0.5rem;
  }
  .card-modal .card-modal-content .img-container {
    grid-template-columns: 1fr;
  }
  .card-modal .card-modal-content img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
  }
}

.close-container {
  text-align: right;
}
.close-container .close {
  display: inline-block;
  background-color: transparent;
  border: 0;
  color: var(--text);
  font-size: 1.2rem;
  cursor: pointer;
}

.box-area {
  display: grid;
  grid-gap: 1rem;
}

.profile-link-box {
  background-color: var(--tile-background);
  border-radius: 1rem;
  padding: 1rem;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 1fr auto;
}
@media (max-width: 700px) {
  .profile-link-box {
    grid-template-columns: 1fr;
    padding: 0.8rem;
  }
}
.profile-link-box .link-title {
  font-size: 1.8rem;
  text-align: left;
  font-weight: bold;
}
.profile-link-box .link-id {
  text-align: left;
  margin: 0;
  margin-bottom: 1rem;
}
.profile-link-box .link-status {
  text-align: left;
}
.profile-link-box .link-action-area {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
  place-self: center;
  justify-content: space-between;
}
.profile-link-box .link-action-area button, .profile-link-box .link-action-area a {
  width: 100%;
}
.profile-link-box .link-action-area div {
  display: flex;
  justify-content: center;
}
.profile-link-box .link-action-area div button, .profile-link-box .link-action-area div a {
  margin: 0 0.2rem;
}
.profile-link-box .link-action-area div button:first-child, .profile-link-box .link-action-area div a:first-child {
  margin-left: 0;
}
.profile-link-box .link-action-area div button:last-child, .profile-link-box .link-action-area div a:last-child {
  margin-right: 0;
}
@media (max-width: 700px) {
  .profile-link-box .link-action-area {
    place-self: auto;
  }
}

.meeting-name {
  text-align: center;
}

h3.topic {
  padding: 0.2rem;
  border-radius: 0.5rem;
  background-color: var(--navlink-hover);
  text-align: center;
}

.admin-link-box {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  place-content: center;
  border-radius: 1rem;
  grid-gap: 1rem;
  align-items: center;
  padding: 1rem;
  background-color: var(--tile-background);
}
.admin-link-box h2 {
  text-align: left;
}

.user-info {
  text-align: left;
}
.user-info h3, .user-info h4, .user-info p {
  margin: 0;
}
* {
  transition: background-color 0.5s;
}

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-appearance: none;
}

a {
  text-decoration: inherit;
  color: inherit;
}

body {
  background-color: var(--background);
  font-family: var(--mainfont);
  color: var(--main-font-color);
  margin: 0 auto;
}

.link {
  text-decoration: underline;
  padding: 0.3ch 0.5ch;
  border-radius: 8px;
}

.link:hover {
  background-color: var(--navlink-hover);
}

main.portal {
  display: none;
  place-items: center;
  min-height: 90vh;
  padding: 0 1rem;
  text-align: center;
  max-width: 1024px;
  margin: auto;
}
main.portal .mainimg {
  padding: 1rem;
  margin-top: 1rem;
  width: 50vh;
  filter: var(--svg-grey);
}
@media (max-width: 700px) {
  main.portal .mainimg {
    width: 70vw;
  }
}
main.portal .meeting-content {
  display: grid;
  place-items: center;
}
main.portal .meeting-content button {
  justify-content: center;
}
@media (max-width: 700px) {
  main.portal .meeting-content {
    grid-column: span 2;
  }
}
@media (max-width: 700px) {
  main.portal .meeting-animation {
    grid-column: span 2;
  }
  main.portal .meeting-animation lottie-player {
    height: 50vh;
  }
}

.meeting-end-animation {
  width: 60vh;
  margin: auto;
}
@media (max-width: 700px) {
  .meeting-end-animation {
    width: 90vw;
  }
}

main.portal-meeting {
  grid-template-columns: 1fr 1fr;
}
main.portal-meeting .mainimg {
  grid-column: span 2;
}
main.portal-meeting footer {
  grid-column: span 2;
}
main.portal-meeting h2.title-meet {
  grid-column: span 2;
}

#join {
  display: inline-block;
  margin-right: 1rem;
}

#copyLink {
  display: inline-block;
}

.inactive, .live, .another {
  background-color: var(--tile-background);
  padding: 0.8rem;
  border-radius: 1rem;
}

.live i {
  color: var(--active);
}

.lottie-not-approved {
  max-width: 20rem;
  margin: auto;
}

.red-message {
  text-align: center;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  color: var(--button-font-color);
  background-color: var(--translucent-red);
}

.another i {
  color: var(--danger);
}

.inactive i {
  color: var(--inactive);
}

footer {
  text-align: center;
  padding: 1rem 0;
}

/*# sourceMappingURL=main.css.map */
