<%- include('../includes/head.ejs') %>
</head>
<body>
    <div class="se-pre-con">
		<div class="loader-area">
			<span class="loader"></span>
		</div>
	</div>
    <main class="portal">
        <a class="mainimg" href="/"><img src="/images/zoom1.svg?version=<%= version %>" /></a>
        <div>
            <h1>Haritha's Meeting Portal</h1><br/><br/>
            <h2><%= pageInfo %></h2>
        </div>

<%- include('../includes/end.ejs') %>