.admin-link-box{
    display:grid;
    grid-template-columns: 5fr 1fr 1fr;
    place-content:center;
    border-radius:1rem;
    grid-gap:1rem;
    align-items:center;
    padding:1rem;
    background-color: var(--tile-background);
    h2{
        text-align:left;
    }
}
.user-info{
    text-align:left;
    h3,h4,p{
        margin:0;
    }
    h4{

    }
    p{

    }
}