@use 'variables' as v;
#banner{
    display:none;
}
div.banner{
    background-color: var(--banner-color);
    display:grid;
    text-align: center;
    padding:.5rem;
    place-items:center;
    grid-template-columns:2rem auto 2rem;
    .banner-close{
        cursor:pointer;
    }
}