@use 'variables' as v;
.box-manage{
	min-width:80vmin;
	padding:1rem;
	padding-right:3rem;
	padding-left:3rem;
	border-radius:2rem;
	@media(max-width:v.$media-portrait){
		width:100%;
	}
}
.link-boxes{
	border-radius:10px;
	max-width:80vw;
}
.link-box{
	display:grid;
	text-align:left;
	cursor:pointer;
	margin: 1rem 0;
	border-radius:1rem;
	grid-template-columns: 6fr 1fr;
	background-color: var(--tile-background);
	h3,p{
		margin:0;
	}

	padding:1rem;
	@media(max-width:v.$media-portrait){
		padding:.5rem;
		&:hover{
			background: transparent;
		}
		h3{
			font-size:1rem;
		}
		p{
			font-size:.8rem;
		}
	}
	button{
		color:var(--button-font-color);
	}
}
.link-details{
	background-color: var(--tile-background);
	display:none;
    word-wrap: break-word;
	padding:1rem;
	margin:1rem;
	border-radius:15px;
	overflow-x:auto;
	text-align:left;
	div{
		padding:1rem;
	}
}
.copy,.copyi,.save-btn{
	width:3rem;
	padding:.5rem;
}
.input-box-m{
	display:grid;
	margin:0;
}
.save-btn-container{
	text-align:center;
	display:flex;
	justify-content: space-around;
}
@media (max-width: v.$media-portrait){
	.box-manage,.link-boxes,.link-details div{
		padding-right:0rem;
		padding-left:0rem;
	}
}