@use 'variables' as v;
body.error-body{
    display: grid;
    place-content: center;
}
main.error {
    display:none;
    padding-top:8rem;
    place-items: center;
    max-width: 1024px;
    min-height: 90vh;
    text-align: center;
}
main.error img {
    width: 50vh;
    filter: var(--svg-grey);
    @media(max-width:v.$media-portrait){
        width:70vw;
    }
}
main.error footer {
    text-align:center;
    padding: 1rem 0;
}
