@use 'variables' as v;
main{
    display:none;
}
@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}
// .loader-area {
//     background-color:var(--background);
//     height:30vmin;
//     width:30vmin;
//     border-radius:4rem;
//     text-align: center;
//     display:grid;
//     place-items: center;
//     position: relative;
// 	z-index: 0;
// 	overflow: hidden;
// 	padding: 2rem;
//     @media (max-width:v.$media-portrait){
//         border-radius:2rem;
//     }
//     &::before {
// 		content: '';
// 		position: absolute;
// 		z-index: -2;
// 		left: -50%;
// 		top: -50%;
// 		width: 200%;
// 		height: 200%;
// 		background-repeat: no-repeat;
// 		background-size: 50% 50%, 50% 50%;
// 		background-position: 0 0, 100% 0, 100% 100%, 0 100%;
// 		background-image: linear-gradient(var(--theme), var(--theme)), linear-gradient(transparent,transparent), linear-gradient(transparent,transparent), linear-gradient(transparent,transparent);
// 		animation: rotate 2s linear infinite;
// 	}
	
// 	&::after {
// 		content: '';
// 		position: absolute;
// 		z-index: -1;
// 		left: 6px;
// 		top: 6px;
// 		width: calc(100% - 12px);
// 		height: calc(100% - 12px);
// 		background: var(--background);
// 		border-radius: 3.8rem;
// 	}
// }
.loader-area{
    border: 0rem solid var(--theme);
    display:grid;
    box-sizing:content-box;
    justify-content: left;
    position: relative;
    svg{
        width:40vmin;
        z-index:10;
    }
    img{
        width:40vmin;
        filter:var(--svg-grey);
    }
    @media (max-width:v.$media-portrait){
    }
}
@keyframes grow{
    0%{
        border-width:0rem;
    }
    100%{
        border-width:.5rem;
    }
}
@keyframes backnforth{
    0%{
        // transform:translateX(0%);
        left:0%;
        right:100%;
    }
    100%{
        // transform:translateX(100%);    
        right:0%;
        left:calc(100% - 1.9rem);
        // left:auto;
    }
}
@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-10px);
    }
    100% {
        transform: translatey(0px);
    }
}
@keyframes appear{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
.se-pre-con {
    position: fixed;
    display: grid;
    padding:0.8rem;
    align-content: center;
    justify-content: center;
    left: 0px;
    top: 0px;
    width:calc(100vw - 5px);
    height: 100vh;
    z-index: 999;
    background: var(--background);
}
.loader {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: var(--theme) var(--theme) transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent var(--theme) var(--theme);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
  .loader-btn-container{
    display:grid;
    place-content:center;
  }
  .loader-btn {
    width: 1rem;
    height: 1rem;
    line-height:1rem;
    display:inline-block;
    border: 2px solid var(--button-font-color);
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }


  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
      
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
      