@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Nunito+Sans:wght@400;600&family=Nunito:wght@200&family=Noto+Sans+Sinhala&family=Noto+Sans+Tamil+Supplement&display=swap');
$background: white;
$theme: #22cc9d;
$secondary-theme:#221b5f;
$title-font-color: #221b5f;
$secondary-font-color:#0d5f48;
$button-hover:#19a17b;
$main-font-color:black;
$sinhalafont:'Noto Sans Sinhala';
$tamilfont:'Noto Sans Tamil Supplement';
$japanesefont:'Noto Sans JP';
$grey-font:#666666;
$contrast-font-color:$background;
$special-font-color:$theme;
$mainfont: 'Nunito Sans';
$titlefont: 'Nunito';
$input-box: #0d5f482c;
$input-box-hover: #0d5f482c;
$media-portrait:700px;
$tile-background:#f1f1f1;
$mobile-header-background:#ffffff2c;
$mobile-header-background-active:#333333bd;
$active: #6cc130;
$warning: #ee4540;
$danger: #FFC302;
$inactive: #999999;
$svg-grey: brightness(0) saturate(100%) invert(39%) sepia(6%) saturate(14%) hue-rotate(322deg) brightness(95%) contrast(82%);
$svg-black:brightness(0) saturate(100%);
$svg-theme:brightness(0) saturate(100%) invert(56%) sepia(100%) saturate(366%) hue-rotate(113deg) brightness(99%) contrast(81%);;


:root[data-theme="light"]{
    --background: white;
    --theme: #22cc9d;
    --title-font-color: #221b5f;
    --secondary-font-color:#0d5f48;
    --secondary-btn: #00C0FF;
    --secondary-btn-hover: #0076B3;
    --button-hover:#19a17b;
    --main-font-color:#333333;
    --sinhalafont:'Noto Sans Sinhala';
    --tamilfont:'Noto Sans Tamil Supplement';
    --japanesefont:'Noto Sans JP';
    --grey-font:#666666;
    --contrast-font-color:var(--background);
    --special-font-color:var(--theme);
    --mainfont: 'Nunito Sans';
    --titlefont: 'Nunito';
    --input-box: #22cc9c73;
    --input-box-hover: #22cc9c2f;
    --mobile-header-background:#ffffff2c;
    --mobile-header-background-active:#333333bd;
    --media-portrait:700px;
    --button-font-color:white;
    --tile-background:#f1f1f1;
    --popup-color:white;    
    --active: #6cc130;
    --warning: #ee4540;
    --danger: #FFC302;
    --banner-color:#22cc9c55;
    --translucent-red: #ed7367cc;
    --navlink-hover:#22cc9d99;
    --inactive: #999999;
    --svg-grey: brightness(0) saturate(100%) invert(39%) sepia(6%) saturate(14%) hue-rotate(322deg) brightness(95%) contrast(82%);
    --svg-black:brightness(0) saturate(100%);
    --svg-contrast:brightness(0%) saturate(100%);
    --svg-white:brightness(100%) saturate(0%);
    --svg-theme:brightness(0) saturate(100%) invert(56%) sepia(100%) saturate(366%) hue-rotate(113deg) brightness(99%) contrast(81%);
}
:root[data-theme='dark']{
    --background: black;
    --theme: #22cc9d;
    --title-font-color: #65bae2;
    --secondary-font-color:#22cc9d;
    --button-hover:#19a17b;
    --secondary-btn: #00C0FF;
    --secondary-btn-hover: #0076B3;
    --main-font-color:white;
    --popup-color:#222222;
    --sinhalafont:'Noto Sans Sinhala';
    --tamilfont:'Noto Sans Tamil Supplement';
    --japanesefont:'Noto Sans JP';
    --grey-font:#dddddd;
    --contrast-font-color:var(--background);
    --special-font-color:var(--theme);
    --mainfont: 'Nunito Sans';
    --titlefont: 'Nunito';
    --input-box: #22cc9c2f;
    --input-box-hover: #22cc9c54;
    --mobile-header-background:#ffffff2c;
    --mobile-header-background-active:#ffffffbd;
    --media-portrait:700px;
    --button-font-color:white;
    --tile-background:#333333;
    --navlink-hover:#22cc9d99;
    --active: #6cc130;
    --warning: #ee4540;
    --translucent-red: #ed736755;
    --danger: #FFC302;
    --banner-color:#22cc9c55;
    --inactive: #999999;
    --svg-grey: brightness(0) saturate(100%) invert(96%) sepia(1%) saturate(1842%) hue-rotate(199deg) brightness(108%) contrast(73%);;
    --svg-black:brightness(100%) saturate(0);
    --svg-contrast:brightness(0) saturate(100%);
    --svg-white:brightness(0) saturate(100%);
    --svg-theme:brightness(0) saturate(100%) invert(56%) sepia(100%) saturate(366%) hue-rotate(113deg) brightness(99%) contrast(81%);
}