@use 'variables' as v;
@use 'loader';
@use 'input';
@use 'banner';
@use 'error';
@use 'dropmenu';
@use 'header';
@use 'modal';
@use 'profile';
@use 'admin';
*{
    transition: background-color .5s;
}

* , *:before, *:after{ 
    box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box; 
    -ms-box-sizing:border-box;
    -webkit-appearance: none;
  }
a{
    text-decoration: inherit;
    color:inherit;
}
body{
    background-color:var(--background);
    font-family:var(--mainfont);
    color: var(--main-font-color);
    margin:0 auto;
    // width:100%;
}
.link{
    text-decoration: underline;
    padding:.3ch .5ch;
    border-radius:8px;
}
.link:hover{
    background-color: var(--navlink-hover);
}
main.portal{
    .mainimg{
        padding:1rem;
        margin-top:1rem;
        width: 50vh;
        filter: var(--svg-grey);
        @media(max-width:v.$media-portrait){
            width:70vw;
        }
    }
    display: none;
    place-items:center;
    min-height:90vh;
    padding: 0 1rem;
    text-align:center;
    max-width:1024px;
    margin:auto;
    .meeting-content{
        display:grid;
        place-items:center;
        button{
            justify-content: center;
        }
        @media(max-width:v.$media-portrait){
            grid-column: span 2;
        }
    }
    .meeting-animation{
        @media(max-width:v.$media-portrait){
            grid-column:span 2;
            lottie-player{
                height:50vh;
            }
        }
    }
}
.meeting-end-animation{
    width:60vh;
    margin:auto;
    @media(max-width:v.$media-portrait){
        width:90vw;
    }
}

main.portal-meeting{
    grid-template-columns: 1fr 1fr;
    .mainimg{
        grid-column:span 2;
    }
    footer{
        grid-column:span 2;
    }
    h2.title-meet{
        grid-column:span 2;

    }
}

#join{
    display:inline-block;
    margin-right:1rem;
}
#copyLink{
    display:inline-block;
}
.inactive,.live,.another{
    background-color:var(--tile-background);
    padding:.8rem;
    border-radius:1rem;
}
.live i{
    color:var(--active);
}
.lottie-not-approved{
    max-width:20rem;
    margin:auto;
}
.red-message{
    text-align:center;
    padding:.2rem 1rem;
    border-radius:0.5rem;
    color:var(--button-font-color);
    background-color: var(--translucent-red);
}
.another i{
    color:var(--danger);
}
.inactive i{
    color:var(--inactive);
}
footer{
    text-align:center;
    padding: 1rem 0;
}